<div class="row">
  <div class="col-md-7">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
    </a>
  </div>
  <div class="col-md-5">
    <h3>{{ form.documentNumber }}</h3>
    <p>{{ form.description }}</p>
    <a class="btn btn-primary" href="{{ form.downloadableLink }}">Download
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a class="btn btn-primary" href="#">Fill-up
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<hr>
